[submodule "deps/angular.js"]
	path = deps/angular.js
	url = git://github.com/angular/angular.js
[submodule "deps/underscore"]
	path = deps/underscore
	url = git://github.com/documentcloud/underscore.git
